sudo: false
language: node_js
node_js:
  - "12"
install:
  - npm install
  - npm i -D markdown-it
  - npm i -D minimist
before_script:
  # get release info
  export RELEASE_NAME=$TRAVIS_TAG
  export RELEASE_NOTE=$(node build/deploy/change-log.js --path=examples/docs/docs/changelog.md --version=$RELEASE_NAME)
script:
  - npm run unit
  - npm run dist
  # build resource code
  - source build/deploy/script.sh
after_success:
  - echo $(node build/deploy/check-deploy.js)
deploy:
  # npm release
  - provider: npm
  # ⋮
  edge: true
  skip_cleanup: true
  api_token: $NPM_API_TOKEN
  on:
    tags: true
    condition: $(node build/deploy/check-deploy.js) = true
  # github release
  - provider: releases
  # ⋮
  edge: true
  cleanup: false
  overwrite: true
  api_key:
    secure: VdSChF0TgPluO5wg/+HYcJTH0k+yYlmzN4kU1aZbMlZR7Yvhvlj8OLiXu1VcltzOPnESNw9NiilGo0nuXD/vh0b2mQ2yxoliMWKBi7qSYIuJfbYoWXYsVZmWQAeUXosKMY94ApPKBcRVUEJd4ntUx1Kftl1p65G7Q37uJvGKTu1ZEkypjh/tDaLxC6YdMmLsEh2J2o+BJ6lmEHJzlDuJzqDcWh+faaIsRC6x52IPDF+SWLlxu1BL/d0t60JBF6FzRNSoYTzYcYFaqsPT6EmOEJYYoKhqKg78A48M4qCHlhC/43QUuLaUdFZuSPJmNP4YGcmJBnXhROB0KvHpRMGrul2b8d2RyrBkvBZAoUrSA0McwDduAlDxCKzQPpPnPXVyJ04A6iFUfYcPDiHUtms2H+SZCN0xBFCtSYFwqM76XT4SjpJEJDpn8FW0sU4/sqCa6LIbcfXVL3HQqIk/jaGhmsqbzdkzJK5tHjKxdIF8cuIPeAGi4cKl5C7H5Ray7SMEgKZQidwwcBgsZAsi92Giv2AfPiOQdmqh/qSowF+XmkQPTCJqCAJ3bi7S9WtnsDoFJzjhTieY9VnyBgYSLBHIhStmqyqIXWGLYvZsq5/LKm3pI8Z2cCWVTCg18KM8ERtsY7SIGtH+ZqMAcdEXF6lQ4u5mQ52OJv1ED7Dkf0fRKcI=
  name: $RELEASE_NAME
  release_notes: $RELEASE_NOTE
  draft: false
  prerelease: false
  on:
    tags: true
    condition: $(node build/deploy/check-deploy.js) = true
after_deploy:
  - sh ./build/deploy/after-deploy.sh
