/**
 * UI规范基础变量
 */

/* 主题颜色 */
$-color-theme: #0084ff !default;                  // 正常色
$-color-white: #fff !default;                     // 用于mix的白色
$-color-black: #000 !default;                     // 用于mix的黑色
$-color-theme-light: mix($-color-white, $-color-theme, 42%) !default;            // 弱化色
$-color-theme-emph: mix($-color-black, $-color-theme, 18%) !default;             // 强调色

/* 辅助色 */
$-color-aid-red: #e2231a !default;

/* 图形颜色 */
$-color-icon: #c5c5c5 !default;                   // icon颜色
$-color-line: #eee !default;                      // 分割线
$-color-bg: #f4f4f4 !default;                     // 背景色

/* 尺寸 */
$-size-side-padding: 15px !default;                 // 屏幕两边留白

/* button */
$-button-color-primary: $-color-theme !default;                   // 默认按钮颜色
$-button-color-primary-active: $-color-theme-emph !default;      // 默认按钮颜色点击态

/* navbar */
$-navbar-color-bg: $-color-theme !default;          // navbar背景颜色
$-navbar-color-txt: #fff !default;                // navbar字体颜色
$-navbar-size-height: 44px !default;                // navbar高度
$-navbar-fs-title: 16px !default;                   // navbar中间标题的字体大小
$-navbar-fs-side: 14px !default;                    // navbar两边操作的字体大小

/* slider */
$-slider-font-size: 14px !default;                       // 字体大小
$-slider-handle-radius: 14px !default;                   // 滑块半径
$-slider-axie-height: 6px !default;                      // 滑轴高度
$-slider-font-color: #333 !default;                    // 字体颜色
$-slider-axie-bg-color: #e5e5e5 !default;              // 滑轴的默认背景色
$-slider-disable-font-color: #d2d2d2 !default;         // 禁用状态下字体颜色
$-slider-disable-line-color: #e5f3ff !default;         // 禁用状态下进度条的颜色