/**
 * UI规范基础变量
 */

/* 主题颜色 */
$-color-theme: #0083ff !default;                  // 正常色
$-color-theme-light: #66b5ff !default;            // 弱化色
$-color-theme-emph: #0068d7 !default;             // 强调色

/* 辅助色 */
$-color-aid-red: #e2231a !default;

/* 图形颜色 */
$-color-icon: #c5c5c5 !default;                   // icon颜色
$-color-line: #eee !default;                      // 分割线
$-color-bg: #f4f4f4 !default;                     // 背景色
