/**
 * UI规范基础变量
 */

/* 主题颜色 */
$-color-theme: #0084ff !default;                  // 正常色
$-color-white: #fff !default;                     // 用于mix的白色
$-color-black: #000 !default;                     // 用于mix的黑色
$-color-theme-light: mix($-color-white, $-color-theme, 42%) !default;            // 弱化色
$-color-theme-emph: mix($-color-black, $-color-theme, 18%) !default;             // 强调色

/* 辅助色 */
$-color-aid-red: #e2231a !default;
$-color-grey: #d9d9d9;
$-border-color: #c8c8cd;

/* 图形颜色 */
$-color-icon: #c5c5c5 !default;                   // icon颜色
$-color-line: #eee !default;                      // 分割线
$-color-bg: #f4f4f4 !default;                     // 背景色
$-color-border: #c5c5c5 !default;                 // 边框颜色

/* 文字颜色 */
$-color-title: #333 !default;     // 模块标题/重要正文
$-color-text: #666 !default;      // 普通正文
$-color-secondary: #A7A7A7 !default; // 次要信息，注释/补充/正文
$-color-tip: #D2D2D2 !default;    // 弱化信息，引导性/不可点文字

/* 尺寸 */
$-size-side-padding: 15px !default;                 // 屏幕两边留白

/* button */
$-button-color-normal: #333 !default;
$-button-color-normal-active: #bfbfbf !default;
$-button-color-normal-active-bg: #f2f2f2 !default;
$-button-color-normal-active-border: #cbcbcb !default;
$-button-color-normal-disabled: #dedede !default;
$-button-color-normal-disabled-bg: #ffffff !default;
$-button-color-normal-disabled-border: #f4f4f4 !default;
$-button-color-primary: $-color-theme !default;
$-button-color-primary-active: $-color-theme-emph !default;
$-button-color-primary-disabled: $-color-theme-light !default;
$-button-color-success: #00c740 !default;
$-button-color-success-active: mix($-color-black, $-button-color-success, 18%) !default;
$-button-color-success-disabled: mix($-color-white, $-button-color-success, 42%) !default;
$-button-color-info: #909399 !default;
$-button-color-info-active: mix($-color-black, $-button-color-info, 18%) !default;
$-button-color-info-disabled: mix($-color-white, $-button-color-info, 42%) !default;
$-button-color-warning: #ffb300 !default;
$-button-color-warning-active: mix($-color-black, $-button-color-warning, 18%) !default;
$-button-color-warning-disabled: mix($-color-white, $-button-color-warning, 42%) !default;
$-button-color-error: #e2231a !default;
$-button-color-error-active: mix($-color-black, $-button-color-error, 18%) !default;
$-button-color-error-disabled: mix($-color-white, $-button-color-error, 42%) !default;
$-button-color-border: $-color-secondary !default;
$-button-small-height: 26px !default;
$-button-small-padding: 0 10px !default;
$-button-small-font-size: 12px !default;
$-button-small-radius: 2px !default;
$-button-small-round-radius: 13px !default;
$-button-small-loading: 14px !default;
$-button-medium-height: 32px !default;
$-button-medium-padding: 0 15px !default;
$-button-medium-font-size: 14px !default;
$-button-medium-radius: 4px !default;
$-button-medium-round-radius: 23px !default;
$-button-medium-loading: 16px !default;
$-button-large-height: 44px !default;
$-button-large-padding: 0 36px !default;
$-button-large-font-size: 16px !default;
$-button-large-radius: 8px !default;
$-button-large-round-radius: 23px !default;
$-button-large-loading: 18px !default;
$-button-suck-height: 50px !default;
$-button-color-icon: #666 !default;
$-button-color-icon-active: #eee !default;
$-button-color-icon-disabled: #a7a7a7 !default;

/* navbar */
$-navbar-color-bg: $-color-theme !default;          // navbar背景颜色
$-navbar-color-txt: #fff !default;                // navbar字体颜色
$-navbar-size-height: 44px !default;                // navbar高度
$-navbar-fs-title: 16px !default;                   // navbar中间标题的字体大小
$-navbar-fs-side: 14px !default;                    // navbar两边操作的字体大小

/* slider */
$-slider-font-size: 14px !default;                       // 字体大小
$-slider-handle-radius: 14px !default;                   // 滑块半径
$-slider-axie-height: 6px !default;                      // 滑轴高度
$-slider-font-color: #333 !default;                    // 字体颜色
$-slider-axie-bg-color: #e5e5e5 !default;              // 滑轴的默认背景色
$-slider-disable-font-color: #d2d2d2 !default;         // 禁用状态下字体颜色
$-slider-disable-line-color: #e5f3ff !default;         // 禁用状态下进度条的颜色

/* switch */
$-switch-color-active: $-color-theme !default;
$-switch-color-active-shadow: rgba(0, 83, 162, 0.5) !default;
$-switch-color-inactive: #fff !default;
$-switch-color-inactive-shadow: rgba(0, 0, 0, 0.3) !default;
$-switch-color-border: #e5e5e5 !default;

/* radio */
$-radio-size: 16px !default;
$-radio-color-border: #a7a7a7 !default;
$-radio-label-font-size: 12px !default;
$-radio-color-checked: $-color-theme !default;
$-radio-color-disabled: #f4f4f4 !default;
$-radio-color-disabled-label: #dedede !default;

/* checkbox */
$-checkbox-size: 16px !default;
$-checkbox-color-border: #a7a7a7 !default;
$-checkbox-label-font-size: 12px !default;
$-checkbox-color-checked: $-color-theme !default;
$-checkbox-color-disabled: #f4f4f4 !default;
$-checkbox-color-disabled-label: #dedede !default;

/* inputNumber */
$-inputNumber-color: #333 !default;
$-inputNumber-border-color: #cbcbcb !default;
$-inputNumber-disabled-color: #bfbfbf !default;
$-inputNumber-disabled-input-bg: #f2f2f2 !default;
$-inputNumber-height: 24px !default;
$-inputNumber-btn-width: 26px !default;
$-inputNumber-input-width: 36px !default;

/* cell */
$-cell-group-title-size: 16px !default;
$-cell-group-title-color: $-color-title !default;
$-cell-group-value-size: 14px !default;
$-cell-group-value-color: $-color-text !default;
$-cell-icon-height: 46px !default;
$-cell-icon-right: 15px !default;
$-cell-icon-size: 18px !default;
$-cell-title-size: 16px !default;
$-cell-title-color: $-color-title !default;
$-cell-label-size: 12px !default;
$-cell-label-color: $-color-secondary !default;
$-cell-value-size: 14px !default;
$-cell-value-color: $-color-text !default;

/* tabs */
$-tabs-nav-height: 40px !default;
$-tabs-nav-active-color: $-color-theme !default;
$-tabs-nav-line-height: 3px !default;

/* badge */
$-badge-fill:  $-color-aid-red !default;
$-badge-radius: 10px !default;
$-badge-font-size: 12px !default;
$-badge-padding: 6px !default;
$-badge-size: 18px !default;
$-badge-primary: $-color-theme !default;
$-badge-success: #00c740 !default;
$-badge-warning: #ffb300 !default;
$-badge-danger:$-color-aid-red !default;
$-badge-info: #909399 !default;

/* tabbar */
$-tabbar-color: $-color-secondary !default;
$-tabbar-active-color: $-color-theme !default;

/* collapse */
$-collapse-header-padding: 11px 15px !default;
$-collapse-title-color: $-color-title !default;
$-collapse-title-size: 16px !default;
$-collapse-arrow-size: 14px !default;
$-collapse-arrow-color: $-color-icon !default;
$-collapse-body-padding: 13px 15px !default;
$-collapse-body-size: 13px !default;
$-collapse-body-color: $-color-text !default;
$-collapse-disabled-color: $-color-tip !default;
$-collapse-more-size: 13px !default;
$-collapse-more-color: $-color-theme !default;

/* steps */
$-steps-icon-size: 20px !default;
$-steps-inactive-color: $-color-secondary !default;
$-steps-finished-color: $-color-theme !default;
$-steps-icon-text-size: 14px !default;
$-steps-error-color: $-color-aid-red !default;
$-steps-title-size: 14px !default;
$-steps-label-size: 12px !default;
$-steps-is-icon-width: 30px !default;
$-steps-line-color: $-color-tip !default;
$-steps-dot-size: 7px !default;
$-steps-dot-active-size: 9px !default;

/* tag */
$-tag-small-padding: 2px 3px !default;
$-tag-medium-padding: 0 5px !default;
$-tag-large-padding: 3px 10px !default;
$-tag-font-size: 12px !default;
$-tag-small-font-size: 10px !default;
$-tag-info-color: #777 !default;
$-tag-info-color-light: #888 !default;
$-tag-primary-color: #0083ff !default;
$-tag-primary-color-light: #0098ff !default;
$-tag-danger-color: #ff4c4c !default;
$-tag-danger-color-light: #ff614c !default;
$-tag-danger-color-dark: #f2403d !default;
$-tag-warning-color: #ff8200 !default;
$-tag-warning-color-light: #f69f00 !default;
$-tag-success-color: #30be05 !default;
$-tag-success-color-light: #31ca03 !default;
$-tag-close-size: 14px !default;
$-tag-close-color: #c5c5c5 !default;

/* progress */
$-progress-bg: #e5e5e5 !default;
$-progress-height: 3px !default;
$-progress-label-color: #333 !default;
$-progress-label-fs: 14px !default;