/**
 * 布局文件 header 的样式
 */
@import '../variable';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  background: $color-bg;
  z-index: 100;
}
.header-container {
  margin: 0 80px;
  height: $layout-header-height;
  line-height: $layout-header-height;
}
.logo-block {
  display: inline-block;
  height: $layout-header-height;
  line-height: $layout-header-height;
  vertical-align: top;
  font-size: 18px;
  color: $color-theme;
}
.header-tab {
  float: right;
}
.header-tab__item {
  display: inline-block;
}
.header-tab__link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: $fs-title;
  line-height: 25px;
  color: $color-text-light;

  &:hover {
    color: $color-important;
  }
}
.header-tab__link--active{
  color: $color-theme;
  
  &:hover {
    color: $color-theme;
  }
  &::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 2px;
    left: 15%;
    bottom: 0;
    background: $color-theme;
  }
}