@import '../variable';
@import '../mixin';

.page-controller {
  margin: 80px 0 50px;
  padding-top: 30px;
  border-top: 1px solid $color-line;

  @include clearFloat;

  .page-controller__prev {
    float: left;
  }
  .page-controller__next {
    float: right;
  }
  .page-controller__link {
    font-weight: 400;
    color: #666;
    transition: .2s;
  
    &:hover, &:active {
      color: $color-theme-l2;
    }
    span {
      display: inline-block;
      margin: 0 4px;
      vertical-align: middle;
    }
    .iconfont {
      vertical-align: middle;
    }
  }
}
