/**
 * 初始化
 */
@import 'variable';
@import 'markdown';

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $fs-text;
  color: 14px;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: $color-text;

  &:active {
    color: $color-text;
  }
}

.body-scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) #fefefe;

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    opacity: 0.5;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.win-scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) #fefefe;
  transition: all .3s;

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    opacity: 0.5;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color .3s;
  }
  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
    scrollbar-color: rgba(0, 0, 0, 0.2) #fefefe;
  }
}
