@import './abstracts/variable';
@import './abstracts/mixin';
@import './popup.scss';
@import './loading.scss';

@include b(action-sheet) {
  border-radius: $-action-sheet-radius $-action-sheet-radius 0 0;

  @include m(spacing) {
    margin: $-action-sheet-spacing;
    border-radius: $-action-sheet-radius;
  }

  @include e(actions) {
    padding: 8px 0;
  }
  @include e(action) {
    position: relative;
    display: block;
    width: 100%;
    height: $-action-sheet-action-height;
    line-height: $-action-sheet-action-height;
    color: $-action-sheet-color;
    font-size: $-action-sheet-fs;
    text-align: center;
    border: none;
    background: $-action-sheet-bg;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:active {
      background: $-action-sheet-active-color;
    }

    @include m(disabled) {
      color: $-action-sheet-disabled-color;
    }
  }
  @include e(subname) {
    font-size: $-action-sheet-subname-fs;
    color: $-action-sheet-subname-color;
  }
  @include e(cancel) {
    display: block;
    width: calc(100% - 48px);
    line-height: $-action-sheet-cancel-height;
    padding: 0;
    color: $-action-sheet-cancel-color;
    font-size: $-action-sheet-fs;
    text-align: center;
    border-radius: $-action-sheet-cancel-radius;
    border: none;
    background: $-action-sheet-cancel-bg;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto 24px;
    font-weight: $-action-sheet-weight;

    &:active {
      background: $-action-sheet-active-color;
    }
  }
  @include e(header) {
    color: $-action-sheet-color;
    position: relative;
    height: $-action-sheet-title-height;
    line-height: $-action-sheet-title-height;
    text-align: center;
    font-size: $-action-sheet-title-fs;
    font-weight: $-action-sheet-weight;
  }
  @include e(close) {
    position: absolute;
    top: $-action-sheet-close-top;
    right: $-action-sheet-close-right;
    color: $-action-sheet-close-color;
    font-size: $-action-sheet-close-fs;
    transform: rotate(-45deg);
    line-height: 1.1;
    -webkit-tap-highlight-color: transparent;
  }
  @include e(panels) {
    display: flex;
    overflow-x: auto;

    &:first-of-type {
      padding-top: 32px;
    }
  }
  @include e(panel) {
    width: 25%;
    flex: 0 0 auto;
    display: inline-block;
    margin-bottom: 24px;
  }
  @include e(panel-img) {
    display: block;
    width: $-action-sheet-panels-img-fs;
    height: $-action-sheet-panels-img-fs;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: $-action-sheet-panels-img-radius;
  }
  @include e(panel-title) {
    font-size: $-action-sheet-subname-fs;
    text-align: center;
    color: $-action-sheet-color;
    @include lineEllipsis;
  }
}
