@import './abstracts/variable';
@import './abstracts/mixin';

@mixin button-type-style ($normal, $active, $disabled) {
  background: $normal;
  color: #fff;
  border-color: $normal;

  &:active {
    background: $active;
  }
  @include when(disabled) {
    opacity: 0.6;
    color: $disabled;
  }
  .jm-button__loading {
    color: #fff;
  }
  @include when(loading) {
    background: $disabled;
    border-color: $disabled;

    &:active {
      background: $disabled;
      border-color: $disabled;
    }
  }
  @include when(suck) {
    border: none;
    border-radius: 0;
  }
}

@mixin button-plain-style ($normal, $active, $disabled) {
  color: $normal;
  border-color: $normal;

  &:active {
    color: $active;
    border-color: $active;
    background: transparent;
  }
  @include when(disabled) {
    color: $disabled;
    border-color: $disabled;
    background: transparent;
  }
  .jm-button__loading {
    color: $disabled;
  }
  @include when(loading) {
    background: transparent;
  }
} 

@include b(button) {
  outline: none;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border: 1px solid $-button-color-border;
  color: $-button-color-normal;

  span {
    display: inline-block;
    vertical-align: middle;
  }
  @include e(loading) {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    color: $-button-color-normal-disabled;
  }
  @include when(loading) {
    color: $-button-color-normal-disabled;
  }

  @include when(primary) {
    @include button-type-style($-button-color-primary, $-button-color-primary-active, $-button-color-primary-disabled);
  }
  @include when(success) {
    @include button-type-style($-button-color-success, $-button-color-success-active, $-button-color-success-disabled);
  }
  @include when(info) {
    @include button-type-style($-button-color-info, $-button-color-info-active, $-button-color-info-disabled);
  }
  @include when(warning) {
    @include button-type-style($-button-color-warning, $-button-color-warning-active, $-button-color-warning-disabled);
  }
  @include when(error) {
    @include button-type-style($-button-color-error, $-button-color-error-active, $-button-color-error-disabled);
  }

  @include when(small) {
    padding: $-button-small-padding;
    border-radius: $-button-small-radius;
    font-size: $-button-small-font-size;

    @include when(round) {
      border-radius: $-button-small-round-radius;
    }
    .jm-button__loading {
      width: $-button-small-loading;
      height: $-button-small-loading;
    }
  }
  @include when(medium) {
    padding: $-button-medium-padding;
    border-radius: $-button-medium-radius;
    font-size: $-button-medium-font-size;

    @include when(round) {
      border-radius: $-button-medium-round-radius;
    }
    .jm-button__loading {
      width: $-button-medium-loading;
      height: $-button-medium-loading;
    }
  }
  @include when(large) {
    padding: $-button-large-padding;
    border-radius: $-button-large-radius;
    font-size: $-button-large-font-size;

    @include when(round) {
      border-radius: $-button-large-round-radius;
    }
    .jm-button__loading {
      width: $-button-large-loading;
      height: $-button-large-loading;
    }
  }

  @include when(plain) {
    background: #fff;

    @include when(primary) {
      @include button-plain-style($-button-color-primary, $-button-color-primary-active, $-button-color-primary-disabled);
    }
    @include when(success) {
      @include button-plain-style($-button-color-success, $-button-color-success-active, $-button-color-success-disabled);
    }
    @include when(info) {
      @include button-plain-style($-button-color-info, $-button-color-info-active, $-button-color-info-disabled);
    }
    @include when(warning) {
      @include button-plain-style($-button-color-warning, $-button-color-warning-active, $-button-color-warning-disabled);
    }
    @include when(error) {
      @include button-plain-style($-button-color-error, $-button-color-error-active, $-button-color-error-disabled);
    }
  }
  
  @include when(suck) {
    font-size: 16px;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 0;
  }
}