@import "./abstracts/variable";
@import "./abstracts/mixin";

@include b(cell-group) {
  background-color: $-color-white;
  @include when(border) {
    .wd-cell {
      .wd-cell__wrapper {
        @include halfPixelBorder;
      }
      &:last-child .wd-cell__wrapper::after {
        display: none;
      }
    }
    .wd-cell-group__title {
      @include halfPixelBorder;
    }
  }
  @include e(title) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 13px $-cell-padding;
    background: $-color-white;
    font-size: $-cell-group-title-fs;
    color: $-cell-group-title-color;
    font-weight: $-fw-medium;
  }
  @include e(right) {
    color: $-cell-group-value-color;
    font-size: $-cell-group-value-fs;
  }
  @include e(body) {
    background: $-color-white;
  }
}
