@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';

@include b(cell) {
  position: relative;
  display: flex;
  padding-left: 15px;
  background-color: #fff;
  text-decoration: none;
  color: $-cell-title-color;
  -webkit-tap-highlight-color: transparent;

  @include e(wrapper) {
    position: relative;
    display: flex;
    flex: 1;
    padding: 12px 15px 12px 0;
    justify-content: space-between;

    @include halfPixelBorder;
  }
  @include e(title) {
    font-size: $-cell-title-size;
    line-height: 1.375;
    vertical-align: middle;
    flex-shrink: 0;
    margin-right: 20px;
  }
  @include e(label) {
    margin-top: 3px;
    font-size: $-cell-label-size;
    color: $-cell-label-color;
  }
  @include e(right) {
    position: relative;
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
  }
  @include e(icon) {
    position: relative;
    min-width: $-cell-icon-size;
    height: $-cell-icon-height;
    line-height: $-cell-icon-height;
    margin-right: $-cell-icon-right;
    font-size: $-cell-icon-size;
  }
  @include e(value) {
    display: block;
    font-size: $-cell-value-size;
    color: $-cell-value-color;
  }
  @include e(arrow-right) {
    display: block;
    margin-left: 5px;
    height: 22px;
    min-width: 14px;
    line-height: 22px;
    font-size: 14px;
    color: #c5c5c5;
  }
  &:last-child {
    .jm-cell__wrapper::after {
      display: none;
    }
  }
  @include when(link) {
    transition: background .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.06);

    &:active {
      background: rgba(0, 0, 0, 0.06);
    }
  }
}
