@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';

@include b(checkbox) {
  display: block;
  margin-bottom: 10px;
  font-size: 0;
  -webkit-tap-highlight-color: transparent;

  &:last-child {
    margin-bottom: 10px;
  }

  @include e(shape) {
    position: relative;
    display: inline-block;
    width: $-checkbox-size;
    height: $-checkbox-size;
    border: 1px solid $-checkbox-color-border;
    border-radius: 50%;
    color: #fff;
    background: #fff;
    vertical-align: middle;
    transition: background .2s;

    @include when(square) {
      border-radius: 4px;
    }
  }
  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
  }
  @include e(btn-check) {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
    height: 16px;
    width: 16px;
  }
  @include e(txt) {
    display: inline-block;
    vertical-align: middle;
  }
  @include e(label) {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: $-checkbox-label-font-size;
    color: $-color-title;
  }
  @include e(check) {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 1px;
    color: #fff;
    font-size: 13px;
    opacity: 0;
    transition: opacity .2s;
  }
  @include when(checked) {
    .wd-checkbox__shape {
      color: $-checkbox-color-checked;
      background: currentColor;
      border-color: currentColor;
    }
    .wd-checkbox__check {
      opacity: 1;
    }
  }
  @include when(dot) {
    .wd-checkbox__check {
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
      border-radius: 50%;
    }
    @include when(checked) {
      .wd-checkbox__check {
        color: $-checkbox-color-checked;
      }
      .wd-checkbox__shape {
        background: #fff;
        border-color: currentColor;
      }
    }
  }

  @include when(button) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
    .wd-checkbox__shape {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      border: none;
    }
    .wd-checkbox__label {
      margin-left: 0;
      padding: 4px 28px;
      border: 1px solid $-checkbox-color-border;
      border-radius: 4px;
      transition: color .2s, border .2s;
    }
    @include when(checked) {
      .wd-checkbox__label {
        padding-left: 16px;
        padding-right: 16px;
        color: $-checkbox-color-checked;
        border-color: currentColor;
      }
    }
  }

  @include when(disabled) {
    .wd-checkbox__shape {
      border-color: $-checkbox-color-disabled-label;
    }
    .wd-checkbox__label {
      color: $-checkbox-color-disabled-label;
    }
    @include when(checked) {
      .wd-checkbox__shape {
        color: $-checkbox-color-disabled-label;
      }
      @include when(dot) {
        .wd-checkbox__check {
          color: $-checkbox-color-disabled-label;
        }
      }
      .wd-checkbox__label {
        color: $-checkbox-color-disabled-label;
      }
    }
    @include when(button) {
      .wd-checkbox__label {
        border-color: $-checkbox-color-disabled;
      }
    }
  }
}