@import './abstracts/variable';
@import './abstracts/mixin';
@import './popup.scss';

@include b(drop-item) {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
  font-size: $-drop-menu-item-fs;
  color: $-drop-menu-item-color;
  width: 100%;
  z-index: 101;
  
  .wd-drop-item__popup {
    position: absolute;
  }

  @include e(option) {
    display: flex;
    height: $-drop-menu-item-height;
    line-height: $-drop-menu-item-height;
    padding: 0 $-drop-menu-side-padding;
    justify-content: space-between;
    align-items: center;
    transition: color .2s;

    @include when(active) {
      color: $-drop-menu-item-color-active;
    }
  }

  @include e(title){
    display: block;
  }

  @include e(tip) {
    display: inline-block;
    color: $-drop-menu-item-color-tip;
    font-size: $-drop-menu-item-fs-tip;
    margin-left: 2px;
  }

  @include e(icon){
    display: block;
    font-size: $-drop-menu-option-check-size;
  }
}