@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';

@include b(infinite-load) {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #a7a7a7;

  @include e(indicator) {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1.1;
    margin-right: 4px;
    vertical-align: middle;
  }
  @include e(text) {
    display: inline-block;
    font-size: 10px;
  }
}