@import './abstracts/variable';
@import './abstracts/mixin';

@include b(input) {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $-color-border;
    transform: scaleY(0.5);
  }
  @include when(textarea) {
    &::after {
      display: none;
    }
  }
  @include when(disabled) {
    .wd-input__inner, .wd-input__textarea-inner {
      color: $-color-tip;
      background: transparent;
    }
  }
  @include when(error) {
    &::after {
      background: $-color-aid-red;
    }
    .wd-input__inner, .wd-input__textarea-inner {
      color: $-color-aid-red;
      background: transparent;

      &::-webkit-input-placeholder {
        color: $-color-aid-red;
      }
    }
  }
  @include e(inner) {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: $-color-title;
    box-sizing: border-box;
    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: $-color-tip;
    }
    @include m(prefix) {
      padding-left: 24px;
    }
    @include m(suffix-1) {
      padding-right: 24px;

      &.wd-input__inner--count {
        padding-right: 36px;
      }
    }
    @include m(suffix-2) {
      padding-right: 48px;

      &.wd-input__inner--count {
        padding-right: 66px;
      }
    }
    @include m(suffix-3) {
      padding-right: 72px;

      &.wd-input__inner--count {
        padding-right: 94px;
      }
    }
    @include m(suffix-4) {
      padding-right: 122px;
    }
  }
  @include e(prefix) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  @include e(suffix) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @include e(icon) {
    margin-left: 8px;
    font-size: 16px;
    color: $-color-icon;
    vertical-align: middle;
    height: 37px;
    line-height: 37px;
    background: #fff;

    &:first-child {
      margin-left: 0;
    }
  }
  @include e(count) {
    margin-left: 8px;
    font-size: 12px;
    color: $-color-secondary;
    vertical-align: middle;
    height: 37px;
    line-height: 37px;
    background: #fff;
  }
  @include e(count-current) {
    color: $-color-title;

    @include when(error) {
      color: $-color-aid-red;
    }
  }

  @include e(textarea) {
    position: relative;
    padding: 17px 14px;
    font-size: 0;
    background: #fff;
    
    @include when(show-limit) {
      padding-bottom: 25px;
    }
    @include when(text-auto) {
      padding: 10px 0;

      .wd-input__textarea-suffix {
        top: 10px;
        right: 0;
      }
    }
  }
  @include e(textarea-inner) {
    width: 100%;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    color: $-color-title;
    overflow: auto;
    outline: none;
    box-sizing: border-box;
    border: none;

    &::-webkit-input-placeholder {
      color: $-color-tip;
    }
    @include when(suffix) {
      padding-right: 20px;
    }
  }
  @include e(textarea-suffix) {
    position: absolute;
    right: 14px;
    top: 17px;
    bottom: 0;
    z-index: 1;
  }
  @include e(textarea-icon) {
    margin-left: 8px;
    font-size: 16px;
    line-height: 20px;
    color: $-color-icon;
    background: #fff;
  }
  @include e(textarea-count) {
    position: absolute;
    bottom: 6px;
    right: 0;
    font-size: 12px;
    color: $-color-secondary;
    background: #fff;
  }
  @include e(textarea-count-current) {
    color: $-color-title;

    @include when(error) {
      color: $-color-aid-red;
    }
  }
}