@import './abstracts/variable';
@import './abstracts/mixin';

@include b(loading) {
  transition: all .2s;

  @include e(wrap) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 22px 26px;
    min-width: 108px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: #fff;
    transition: all .2s;
    text-align: center;
    z-index: 1010;
    box-sizing: border-box;

    @include when(with-msg) {
      padding-bottom: 15px;
    }
    .jm-loading-indicator {
      display: inline-block;
    }
  }
  @include e(mask) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  @include e(msg) {
    margin-top: 19px;
  }
}

.loading-leave-active{
  opacity: 0;
}
@keyframes rotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

@include b(loading-indicator) {
  font-size: 0;
  line-height: 0;
  vertical-align: middle;

  @include e(spinner) {
    display: block;
    width: 100%;
    height: 100%;
    animation: jm-rotate 0.8s linear infinite;
  }
  @include m(circle) {
    animation-duration: 2s;
    
    circle {
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
      animation: jm-circular 1.5s ease-in-out infinite;
    }
  }
  @include m(spinner) {
    animation-timing-function: steps(12);
  }
  @include e(spinner-dot) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      display: block;
      content: '';
      width: 2px;
      height: 25%;
      border-radius: 1px;
      margin: 0 auto;
      background: currentColor;
    }
  }
}

@for $i from 1 through 12 {
  .jm-loading-indicator__spinner-dot:nth-of-type(#{$i}) {
    opacity: 1 - (0.75 / 12) * ($i - 1);
    transform: rotate($i * 30deg);
  }
}

@keyframes jm-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

@keyframes jm-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
