@import './abstracts/variable';
@import './abstracts/mixin';

@include b(message-box) {
  width: 270px;
  border-radius: 8px;
  overflow: hidden;

  @include e(body) {
    background-color: #fff;    
    padding: 21px 25px 14px;

    @include when(no-title) {
      padding: 25px;
    }
    @include when(prompt) {
      padding-bottom: 21px;
    }
  }
  @include e(title) {
    text-align: center;
    font-size: 16px;
    margin-bottom: 4px;
    color: #333;
  }
  @include e(content) {
    max-height: 170px;
    color: #666;
    font-size: 12px;
    text-align: center;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background: #d8d8d8;
      border-radius: 2px;
    }
  }
  @include e(input-container) {
    position: relative;
    
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transform: scaleY(0.5);
      background: $-color-icon;
    }
  }
  @include e(input) {
    margin-top: 14px;
    border: none;
    padding: 9px 0;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-input-placeholder {
      color: #d2d2d2;
    }
  }
  @include e(input-error) {
    min-height: 18px;
    margin-top: 2px;
    color: red;
    text-align: left;

    @include when(hidden) {
      visibility: hidden;
    }
  }
  @include e(actions) {
    display: flex;
  }
  @include e(button) {
    display: block;
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #666;
    outline: none;
    -webkit-appearance: none;
    border: none;
    -webkit-tap-highlight-color: transparent;

    @include m(cancel) {
      background-color: #fff;
      border-top: 1px solid #eee;
      box-sizing: border-box;
    }
    @include m(confirm) {
      background-color: $-color-theme;
      color: #fff;
    }
  }
  &.jm-zoom-in-enter-active, &.jm-zoom-in-leave-active{
    transition-property: opacity, transform;
    transform-origin: center center;
  }
  &.jm-zoom-in-enter, &.jm-zoom-in-leave-to{
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}
