@import './abstracts/variable';
@import './abstracts/mixin';
@import './loading.scss';

@include b(picker-view) {
  @include e(columns) {
    position: relative;
    display: flex;
    background: #fff;
    overflow: hidden;
  }
  @include e(mask) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.5)),linear-gradient(0deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.5));
    background-position: top,bottom;
    background-size: 100% 99px;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
  }
  @include e(select) {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0);
    z-index: 4;
    pointer-events: none;

    &::before, &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      transform: scaleY(0.5);
      background: $-color-line;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  @include e(loading) {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: rgba(255, 255, 255, 0.8);
  }
}

@include b(picker-view-column) {
  flex: 1;
  font-size: $-picker-column-fs;
  color: $-picker-column-color;
  text-align: center;
  transition-timing-function: cubic-bezier(0.28, 0.8, 0.63, 1);

  @include e(item) {
    user-select: none;
    transition: font .3s ease-out;

    @include m(active) {
      font-size: $-picker-column-active-fs;
    }
    @include m(disabled) {
      color: $-picker-column-disabled-color;
    }
  }
}
