@import './abstracts/variable';
@import './abstracts/mixin';
@import './picker-view.scss';
@import './icon.scss';
@import './popup.scss';

@include b(picker) {
  @include when(large) {
    .wd-picker__field {
      font-size: $-picker-cell-fs-large;
    }
  }
  @include when(error) {
    .wd-picker__value {
      color: $-color-aid-red;
    }
  }
  @include when(align-right) {
    .wd-picker__value {
      text-align: right;
    }
  }
  @include e(field) {
    position: relative;
    display: flex;
    padding: 0 15px;
    align-items: center;
    background-color: #fff;
    text-decoration: none;
    color: $-cell-title-color;
    font-size: $-picker-cell-fs;
    overflow: hidden;

    @include halfPixelBorder('bottom', 15px);

    &:last-child::after {
      display: none;
    }

    @include m(disabled) {
      .wd-picker__value {
        color: $-picker-column-disabled-color;
      }
    }
  }
  @include e(label) {
    width: 33%;
    padding: 11px 10px 11px 0;
    color: $-picker-label-color;
    box-sizing: border-box;
  }
  @include e(value) {
    flex: 1;
    padding: 11px 10px 11px 0;
    color: $-picker-value-color;
    @include lineEllipsis;
  }
  @include e(arrow) {
    display: block;
    color: $-picker-arrow-color;
  }
  @include e(toolbar) {
    position: relative;
    display: flex;
    height: $-picker-toolbar-height;
    line-height: $-picker-toolbar-height;
    font-size: $-picker-toolbar-fs;
    justify-content: space-between;
    align-items: center;
    background: $-picker-toolbar-bg;

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transform: scaleY(0.5);
      background: $-picker-toolbar-border-color;
    }
  }
  @include e(action) {
    display: block;
    height: 100%;
    padding: 0 $-picker-toolbar-padding;
    border: none;
    outline: none;
    font-size: $-picker-toolbar-fs;
    color: $-picker-toolbar-color;
    background: transparent;
    -webkit-tap-highlight-color: transparent;

    @include m(cancel) {
      color: $-picker-toolbar-cancel-color;
    }
  }
  @include e(title) {
    display: block;
    float: 1;
    color: $-picker-toolbar-title-color;
  }
}