@import './abstracts/variable';
@import './abstracts/mixin';

@include b(picker) {
  @include e(toolbar) {
    position: relative;
    display: flex;
    height: $-picker-toolbar-height;
    line-height: $-picker-toolbar-height;
    font-size: $-picker-toolbar-fs;
    justify-content: space-between;
    align-items: center;
    background: $-picker-toolbar-bg;

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transform: scaleY(0.5);
      background: $-picker-toolbar-border-color;
    }
  }
  @include e(action) {
    display: block;
    height: 100%;
    padding: 0 $-picker-toolbar-padding;
    border: none;
    outline: none;
    font-size: $-picker-toolbar-fs;
    color: $-picker-toolbar-color;
    background: transparent;

    @include m(cancel) {
      color: $-picker-toolbar-cancel-color;
    }
  }
  @include e(title) {
    display: block;
    float: 1;
    color: $-picker-toolbar-title-color;
  }
  @include e(columns) {
    position: relative;
    display: flex;
    background: #fff;
    overflow: hidden;
  }
  @include e(mask) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.5)),linear-gradient(0deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.5));
    background-position: top,bottom;
    background-size: 100% 99px;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
  }
}

@include b(picker-column) {
  flex: 1;
  font-size: $-picker-column-fs;
  color: $-picker-column-color;
  text-align: center;

  @include e(item) {
    transition: font .3s color .3s;

    @include m(active) {
      font-size: $-picker-column-active-fs;
    }
  }
}
