@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';
@import './loading.scss';

@include b(pull-refresh) {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  user-select: none;

  @include e(container) {
    &.dropping{
      transition: .2s;
    }
  }
  @include e(top) {
    height: 50px;
    margin-top: -50px;
    line-height: 50px;
    text-align: center;
    font-size: 0;
  }
  @include e(loading) {
    display: inline-block;
  }
  @include e(tip) {
    position: absolute;
    top: 0;
    left: 50%;
    height: 30px;
    padding: 0 25px;
    transform: translate3d(-50%, 10px, 0);
    z-index: 99;
    line-height: 30px;    
    background-color: $-color-theme;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    transition: .3s;
    box-shadow: 0 0 6px #666;
  }
  @include e(arrow) {
    font-size: 12px;
    display: inline-block;
    margin-right: 6px;
    color: #a7a7a7;
    vertical-align: middle;
  }
  @include e(text) {
    font-size: 12px;
    color: #a7a7a7;
    vertical-align: middle;
  }

  .jm-slice-down-enter-active {
    transform: translate3d(-50%, 10px, 0);
  }
  .jm-slice-down-enter {
    transform: translate3d(-50%, -34px, 0);
  }
  .jm-slice-down-leave-active {
    opacity: 1;
  }
  .jm-slice-down-leave-to {
    opacity: 0;
  }
}