@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';

@include b(rate) {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  line-height: 1;

  @include e(item) {
    position: relative;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
  }
  @include e(item-star) {
    display: inline-block;
    vertical-align: top;
    color: transparent;

    @include m(active) {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
    }
  }
}