@import './abstracts/variable';
@import './abstracts/mixin';

@include b(switch) {
  display: inline-block;
  position: relative;
  width: 1.8em;
  height: 1em;
  border-radius: 1em;
  border: 1px solid $-switch-color-border;
  background: $-switch-color-inactive;
  transition: all .3s;
  -webkit-tap-highlight-color: transparent;

  @include e(checkbox) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }
  @include e(circle) {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    transition: left .3s ease-out;
    box-shadow: 0 2px 4px $-switch-color-inactive-shadow;
  }
  @include when(checked) {
    background: $-switch-color-active;
    border-color: $-switch-color-active;

    .jm-switch__circle {
      left: 0.82em;
      box-shadow: 0 2px 4px $-switch-color-active-shadow
    }
  }
  @include when(disabled) {
    opacity: 0.4;
  }
}