@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';
@import './common/transition.scss';
@import './loading.scss';

@include b(toast) {
  @include e(modal) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3009;
  }
  @include e(body) {
    position: fixed;
    padding: $-toast-padding;
    z-index: 3010;
    background-color: $-toast-bg;
    border-radius: $-toast-radius;
    color: #fff;
    transition: opacity 0.2s;
    text-align: center;
    font-size: $-toast-fs;
  }
  @include e(msg) {
    line-height: 1.4285;
    white-space: nowrap;
  }
  @include e(icon) {
    display: inline-block;
    margin-bottom: 16px;
    font-size: $-toast-icon-size;
  }
  @include e(loading) {
    display: inline-block;
    margin-bottom: 16px;
  }
  @include m(middle) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  @include m(top) {
    left: 50%;
    top: 50px;
    transform: translate3d(-50%, 0, 0);
  }
  @include m(bottom) {
    left: 50%;
    bottom: 50px;
    transform: translate3d(-50%, 0, 0);
  }
  @include m(with-icon) {
    min-width: $-toast-with-icon-min-width;
    padding: $-toast-with-icon-padding;
    box-sizing: border-box;
  }
  @include m(loading) {
    min-width: auto;
    padding: $-toast-loading-padding;
  }
}