@import './abstracts/variable';
@import './abstracts/mixin';
@import './icon.scss';
@import './common/transition.scss';
@import './loading.scss';

@include b(toast) {
  @include e(modal) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1009;
  }
  @include e(body) {
    position: fixed;
    padding: 8px 14px;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: #fff;
    transition: all 0.2s;
    text-align: center;
    font-size: 14px;
  }
  @include e(msg) {
    line-height: 1.4285;
    white-space: nowrap;
  }
  @include e(icon) {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 39px;
  }
  @include m(middle) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  @include m(top) {
    left: 50%;
    top: 50px;
    transform: translate3d(-50%, 0, 0);
  }
  @include m(bottom) {
    left: 50%;
    bottom: 50px;
    transform: translate3d(-50%, 0, 0);
  }
  @include m(with-icon) {
    min-width: 150px;
    padding: 18px 15px 15px;
    box-sizing: border-box;
  }
}